<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .card {
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Tickets</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card w-100" style="width: 18rem;">
                    <a href="/seats" class="text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">{ 1A45 KL - Johor }</h5>
                            <p class="card-text">
                                <p><strong>Route:</strong> {{ Kuala Lumpur to Johor Bahru }}</p>
                                <p><strong>Train Number:</strong> {{ 102 Express }}</p>
                                <p><strong>Departure:</strong> {{ Kuala Lumpur Sentral }}, {{ 09:00 AM }}</p>
                                <p><strong>Arrival:</strong> {{ Johor Bahru Sentral }}, {{ 01:45 PM }}</p>
                                <p><strong>Duration:</strong> {{ 4 hours 45 minutes }}</p>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100" style="width: 18rem;">
                    <a href="/seats" class="text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">{ 2B12 Penang - KL }</h5>
                            <p class="card-text">
                                <p><strong>Route:</strong> {{ Penang to Kuala Lumpur }}</p>
                                <p><strong>Train Number:</strong> {{ 202 Express }}</p>
                                <p><strong>Departure:</strong> {{ Butterworth }}, {{ 08:00 AM }}</p>
                                <p><strong>Arrival:</strong> {{ Kuala Lumpur Sentral }}, {{ 12:30 PM }}</p>
                                <p><strong>Duration:</strong> {{ 4 hours 30 minutes }}</p>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100" style="width: 18rem;">
                    <a href="/seats" class="text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">{ 3C34 Malacca - KL }</h5>
                            <p class="card-text">
                                <p><strong>Route:</strong> {{ Malacca to Kuala Lumpur }}</p>
                                <p><strong>Train Number:</strong> {{ 302 Express }}</p>
                                <p><strong>Departure:</strong> {{ Malacca Sentral }}, {{ 10:00 AM }}</p>
                                <p><strong>Arrival:</strong> {{ Kuala Lumpur Sentral }}, {{ 01:00 PM }}</p>
                                <p><strong>Duration:</strong> {{ 3 hours }}</p>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100" style="width: 18rem;">
                    <a href="/seats" class="text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">{ 4D56 Ipoh - KL }</h5>
                            <p class="card-text">
                                <p><strong>Route:</strong> {{ Ipoh to Kuala Lumpur }}</p>
                                <p><strong>Train Number:</strong> {{ 402 Express }}</p>
                                <p><strong>Departure:</strong> {{ Ipoh Sentral }}, {{ 09:30 AM }}</p>
                                <p><strong>Arrival:</strong> {{ Kuala Lumpur Sentral }}, {{ 12:30 PM }}</p>
                                <p><strong>Duration:</strong> {{ 3 hours }}</p>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100" style="width: 18rem;">
                    <a href="/seats" class="text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">{ 5E78 Kuantan - KL }</h5>
                            <p class="card-text">
                                <p><strong>Route:</strong> {{ Kuantan to Kuala Lumpur }}</p>
                                <p><strong>Train Number:</strong> {{ 502 Express }}</p>
                                <p><strong>Departure:</strong> {{ Kuantan Sentral }}, {{ 08:30 AM }}</p>
                                <p><strong>Arrival:</strong> {{ Kuala Lumpur Sentral }}, {{ 01:30 PM }}</p>
                                <p><strong>Duration:</strong> {{ 5 hours }}</p>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
