{% extends "base.html" %}

{% block body %}
<!--Accordion from https://getbootstrap.com/docs/5.3/components/accordion/ -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
        How do I book a train ticket online?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You can book a ticket by selecting the desired train, choosing your seat,
        and making the payment through our website.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
        Can I select a specific seat while booking?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, you can select your preferred seat during the booking process, subject to <strong>availability.</strong>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
        How can I upgrade to business/first class?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This can be done while selecting your seat. Our customers are given the option to select between economy, business
        and first class.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
        What are the benefits of upgrading to business/first class?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Our customers who ride in first or business class enjoy exclusive services and amenities. Passengers in both of
        seat classes have access to unlimited complimentary refreshments <strong>(coffee, tea, soft drinks, granola bars
        and crisps)</strong> as well as larger, more comfortable seats. However, <strong>only first class riders</strong>
        are rewarded with enhanced luggage storage that can fit more bags and suitcases, along with access to power
        sockets and free Wi-Fi.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
        Can I get refunded if I miss my train?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Unfortunately, if you miss your train, you are not entitled to a refund.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
        Do I need to print my e-ticket?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You can either print your e-ticket or show the digital version on your phone to the ticket inspector.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
              aria-expanded="false" aria-controls="collapseSeven">
        What identification documents do I need to carry?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You must carry a valid government-issued ID like a passport, driver’s license, or national ID along with
        your ticket.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
              aria-expanded="false" aria-controls="collapseEight">
        How early should I arrive at the station before my train departure?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        It's recommended to arrive at least 30 minutes before departure to allow time for boarding and security checks.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
              aria-expanded="false" aria-controls="collapseNine">
        What payment methods are accepted?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We currently accept only Mastercard and Visa for payment. Unfortunately, we do not support other payment
        methods at this time.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
              aria-expanded="false" aria-controls="collapseTen">
        Are pets allowed on trains?
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Pets are strictly <strong>not allowed</strong> on the trains under any conditions.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven"
              aria-expanded="false" aria-controls="collapseEleven">
        Is smoking or vaping allowed on the train?
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Smoking or vaping is <strong>not allowed</strong> on the train. For the comfort and safety of all passengers,
        our trains are completely smoke-free, including the use of e-cigarettes and vaping devices.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
              aria-expanded="false" aria-controls="collapseTwelve">
        Are the trains accessible for passengers with disabilities?
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, our trains are accessible for passengers with disabilities. We provide features such as designated
        wheelchair spaces, accessible restrooms, and assistance with boarding and disembarking.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
              aria-expanded="false" aria-controls="collapseThirteen">
        Are there any promotional offers or special deals available?
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        At this time, we do not have any promotional offers or special deals available. Please check back later for
        updates on future promotions.
      </div>
    </div>
  </div>

</div>
{% endblock %}