{% extends "base.html" %}
{% block body %}
<h1>Log in</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="mb-3">
     {{form.username.label(class="form-label")}}<br>
      {{form.username(class="form-control")}}<br>
      {% for error in form.username.errors %}
      <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
  </div>
  <div class="mb-3">
      {{form.password.label(class="form-label")}}<br>
      {{form.password(class="form-control")}}<br>
      {% for error in form.password.errors %}
      <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
  </div>
  <div class="mb-3 form-check">
      {{form.rememberme(class="form-check-input")}}
      {{form.rememberme.label(class="form-check-label")}}
  </div>
  <div class="mb-3">New User? <a href="{{ url_for('signup') }}">Click to Register!</a></div>
  <div class="mb-3">
      {{form.submit(class="btn btn-primary")}}
  </div>
</form>
<!--gif from https://giphy.com/gifs/animation-disney-smile-9fclu64Xq0guY-->
<iframe src="https://giphy.com/embed/9fclu64Xq0guY" width="480" height="269" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-disney-smile-9fclu64Xq0guY"></a></p>
{% endblock %}