{% extends "base.html" %}
{% block body %}
<h1>Create a new account</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="mb-3">
     {{form.username.label(class="form-label")}}<br>
      {{form.username(class="form-control")}}<br>
      {% for error in form.username.errors %}
      <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
  </div>
  <div class="mb-3">
     {{form.email.label(class="form-label")}}<br>
      {{form.email(class="form-control")}}<br>
      {% for error in form.email.errors %}
      <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
  </div>
  <div class="mb-3">
      {{form.password.label(class="form-label")}}<br>
      {{form.password(class="form-control")}}<br>
      {% for error in form.password.errors %}
      <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}

  </div>
  <div class="mb-3">
      {{form.retypepass.label(class="form-label")}}<br>
      {{form.retypepass(class="form-control")}}<br>
      {% for error in form.retypepass.errors %}
      <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}

  </div>
  <div class="mb-3">
      {{form.signup(class="btn btn-primary")}}
  </div>

</form>
<iframe src="https://giphy.com/embed/jyzjPmdKLm2fslKG8C" width="480" height="346" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fallontonight-jimmy-fallon-tonightshow-im-in-jyzjPmdKLm2fslKG8C"></a></p>
{% endblock %}